.row{
    margin:auto;
    padding:1rem;
    height: 500px;
    width: 500px;
    display: flex;
}   

/* image2{
src:url("https://64.media.tumblr.com/a135905d66c9fa3a969da082dbdb812f/fb42c1baa3d2d89e-5c/s400x600/57210f3bc2dc8f7a627dd27f4dd667e6ae94fd28.png");
height: 450px;
display: inline-block;
}

image{
    src: url("https://mir-s3-cdn-cf.behance.net/projects/404/ba0765162472679.63d6958e81afc.jpg");
    height: 450px;
    display: inline-block;
} */
#display{
display:block;
height: 150px;
width: 100%;

}
#style{
font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}

.background-image{
    background-image: url(https://images5.alphacoders.com/956/thumb-1920-956578.jpg);
}