.row{
    margin:auto;
    padding:1rem;
    height: 500px;
    width: 500px;
    display: flex;
}   

/* #cell.cellX-background-image::before,
cell.cellX-background-image::after{
    content: " ";
    width: calc((row) * .15);
    height:(row);
    justify-content: center;
    
} */
#display{
display:block;
height: 150px;
width: 100%;

}
#style{
font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}

.background-image{
    background-image: url(https://images5.alphacoders.com/956/thumb-1920-956578.jpg);
}